<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/base.css">


    <title>Blog</title>
</head>
<body>
    

    wubalulbaajsdas

    <header>
        <div class="logo">
            <h1>BlogPersonal</h1>
        </div>
        <div>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="presentacion">
        <aside>
            <div class="contenedor-aside">
                <h4>Más relevantes</h4>
                <div class="blogs-especiales">
                    <img src="https://fotografias.antena3.com/clipping/cmsimages01/2019/01/28/109F149E-4671-4511-B213-CE0F7007DB31/98.jpg?crop=958,539,x1,y0&width=1900&height=1069&optimize=high&format=webply" alt="blogs">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore veniam facere animi officiis ipsam obcaecati nostrum soluta.</p>
                        <a href="#">Leer más</a>
                    </div>

                </div>
            </div>
        </aside>
        <div class="principal-blog">
            <img src="https://www.eleconomista.com.mx/__export/1605070810481/sites/eleconomista/img/2020/11/10/ciencia-tecnologia-01161.jpg_554688468.jpg" alt="ciencia">
            <h2>Nuevo Blog</h2>
            <a href="#">Leer más</a>
        </div>
    </section>



    <script src="./js/main.js"></script>
</body>
</html>